body {
  font-family: 'Arial', sans-serif;
  background-color: #000000;
  color: #ffffff;
  padding: 0;
  margin: 0;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.card-img-top{
  height: 400px;
  object-fit: contain;
}

.img-thumbnail {
  width: 100%;
  height: 100px;
  object-fit: contain;
}

